/* Main */
.main{
    height: calc(100vh - 6.5rem);
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: all 300ms ease;
}

/* .main.hidden{
    opacity: 0;
    height: 0;
    top: 0;
    transition: all 300ms ease;
} */

.main .right{
    position: absolute;
    right: 1%;
    bottom: 10%;
}

.main .right img{
    width: 100%;
    height: 60rem;
}

.main .right .adminMain{
    width: 80%;
    height: 60rem;
}

.main .left{
    color: var(--white);
    position: absolute;
    left: 7%;
    top: 40%;
}

.main .left span{
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main .left h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.main .left small{
    display: block;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.main .left a{
    display: inline-block;
    color: var(--white);
    font-weight: 700;
    border: 2px solid var(--white);
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    transition: all 300ms ease-out;
}

.main .left a:hover{
    color: var(--primary);
    background-color: var(--white);
}